<html>
    <body>
        <h1> Hello World 
        </h1>
        <p1> <%=person%>
            <%=ageData.age%>
            <%=ageData.Designation%> </p1>
        <p2> <%=hobData%></p2>
    </body>
</html>